<header class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Streetrod Scraper</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/saved">Saved Articles</a>
                </li>
                <li>
                    <button class="btn btn-primary" type="button" id="scrape">Scrape New Articles</button>
                </li>
                <li>
                    <button class="btn btn-primary" type="button" id="clear">Clear Articles</button>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Street Rodder Magazine</h1>
            <p class="lead">See the latest articles</p>
        </div>
    </div>

</main>